:root {
    --blue: rgb(72, 203, 255);
    --black: rgb(53, 51, 51);
}


.header {
    background-color: var(--blue);
    color: var(--black);
    text-align: center;
}


#uvi-today {
    padding: 3px;
    border-radius: 15px;
}

.footer {
    background-color: var(--blue);
    color: var(--black);
    height: 25px;
}